body{
    background-color:#ecfccb    
}
#game{
    width: 600px;
    height:300px;
    border: 1px solid black;
    margin: auto;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt66lkaBU2Kyr9n94gEQL-c5E-sALOoYhTog&usqp=CAU");
    background-size:cover;
    position: relative;
    top: 10rem;
    
}
#dino{
    width: 50px;
    height: 50px;
    background-image: url(img/QGo5isT.gif);
    background-size: 50px 50px;
    position: relative;
    top: 235px;
    
    
}
.jump{
    animation: jump 0.3s linear;
}

@keyframes jump{
    0%{
        top: 150px;
    }
    30%{
        top: 130px;
    }
    50%{
        top: 80px;
    }
    80%{
        top: 130px;
    }
    100%{
        top: 150px;
    }
}
#cactus{
    width: 20px;
    height: 40px;
    position: relative;
    top: 180px;
    left: 580px;
    background-image: url(img/Fireball-gif-transparent-clipart-images-gallery-for-free-.gif);
    background-size: 20px 40px;
    
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{
        left: 580px;
    }
    100%{
        left: -20px;
    }
}